NODE_ENV=development

PORT=3001

SERVICE_NAME=catalog-service

DB_HOST=localhost

DB_PORT=3307

DB_USERNAME=catalog_user

DB_PASSWORD=your_password

DB_NAME=catalog_db

DB_SYNCHRONIZE=false

DB_LOGGING=false

GRPC_HOST=0.0.0.0

GRPC_PORT=50051